@*
    Sign Out Button Component
    3/14/2026
    ======================================
    - Initial creation
    ======================================
*@

@using BlazorBootstrap

@inject BrowserStorageService _storage
@inject NavigationManager _nav

@rendermode InteractiveServer

<Button Type="ButtonType.Link" Style="color: white" @onclick="HandleSignOut">Sign Out</Button>

@code {

    private async Task HandleSignOut()
    {
        // Remove the signed in User from browser storage
        await _storage.RemoveFromStorage("currentUser");

        // Remove the selected Funeral from browser storage
        await _storage.RemoveFromStorage("currentFuneral");

        // Navigate the user to the Sign In page
        _nav.NavigateTo("/");
    }
}
