@*
    Body Preparation Page
    4/5/2026
    ======================================
    - Initial page creation
    ======================================
    Category page for Body Preparation Tasks
*@

@using BlazorBootstrap
@using DataLibrary.Models;
@using DataLibrary.ServiceLayer.TaskService;
@using DataLibrary.ServiceLayer.FuneralService;
@using NextSteps.Client.Components
@using NextSteps.Client.Shared

<!-- Inject Services -->
@inject NavigationManager _nav
@inject BrowserStorageService _storage
@inject ITaskService _task
@inject IFuneralService _funeral

<!-- Allows user to interact -->
@rendermode InteractiveServer

<!-- Override MainLayout from Server and use Client's Custom Layout-->
@layout CustomLayout

@page "/Body Preparation"

<!-- Screen Message Modal -->
<ScreenModal @ref="modal" TitleText="@modalTitle" BodyText="@modalBody" URL="@modalURL" />

<div class="page-container">

    <div class="header-row">

        <!-- Page Title -->
        <h1>Body Preparation</h1>

        <!-- Back button to return to category selection/funeral landing page -->
        <Button Type="ButtonType.Link" Style="font-size: 18px;" To="/funeral">Back to Category Selection</Button>

    </div>

    <div class="tabs-container">

        <Tabs>

            <Tab Title="Tasks">
                <Content>

                    <!-- Task Table Component for Body Preparation Tasks -->
                    <TaskTable FuneralId="@currentFuneral.FuneralId"
                               Category="Body Preparation" />
                    
                </Content>
            </Tab>

        </Tabs>

    </div>

</div>

@code {

    private Funeral currentFuneral = new();

    private User? currentUser;

    #region[MODAL]
    private ScreenModal modal = default!;
    private Modal confirmationModal = default!;
    private string modalTitle = string.Empty;
    private string modalBody = string.Empty;
    private string modalURL = string.Empty;
    #endregion

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            // Get the current user from browser storage
            currentUser = await _storage.GetFromStorage<User>("currentUser") ?? new();

            // Check if the user is signed in. If not, navigate them to the Sign In page
            if (currentUser is null)
            {
                _nav.NavigateTo("/");
            }
            else
            {
                // Get the selected Funeral from browser storage
                currentFuneral = await _storage.GetFromStorage<Funeral>("currentFuneral") ?? new();
            }
        }
        // Rerender the page
        StateHasChanged();
    }
}