.filter-row {
    width: 100%;
    display: flex;
    gap: 100px;
    margin-bottom: 20px;
   
}

.contact-filter, .vendor-filter{
    width: 30%;
}

select{
    width: 70%;   
}

label{
    padding-right: 10px;
}


::deep .bb-table {
    table-layout: fixed;
}

    ::deep .bb-table .name-col {
        width: 40%;
    }

    ::deep .bb-table .location-col {
        width: 40%;
    }

    ::deep .bb-table .type-col {
        width: 20%;
    }
