.filter-row {
    width: 100%;
    display: flex;
    gap: 100px;
    margin-bottom: 20px;
    margin-left: 15%;
}

.contact-filter, .vendor-filter{
    width: 30%;
}

select{
    width: 70%;
    height: 4vh;
}

label{
    padding-right: 10px;
}