.grid-container {
    width: 100%;
}

.icon-grid {
    width: 100%;
    margin-top: 6vh;
}

tr {
    height: 20vh;
}

::deep .card {
    width: 18rem;
    height: 8.5rem;
    cursor: pointer;
}

.label{
    font-size: 18px;
}