@*
    General Info Page
    3/14/2026
    ======================================
    - Initial page creation
    ======================================
    Category page for General Funeral Information
*@

@using BlazorBootstrap
@using DataLibrary.Models;
@using DataLibrary.ServiceLayer.TaskService;
@using NextSteps.Client.Components
@using NextSteps.Client.Shared

<!-- Inject Services -->
@inject NavigationManager _nav
@inject BrowserStorageService _storage
@inject ITaskService _task

<!-- Allows user to interact -->
@rendermode InteractiveServer

<!-- Override MainLayout from Server and use Client's Custom Layout-->
@layout CustomLayout

@page "/General Info"

<div class="page-container">

    <h3>General Info</h3>

    <Button Type="ButtonType.Link" To="/funeral">Back to Category Selection</Button>

    <div class="tabs-container">
        <Tabs>
            <Tab Title="Tasks">
                <Content>

                    <TaskTable 
                        FuneralId="@currentFuneral.FuneralId"
                        Category="General Info"/>
                    
                </Content>
            </Tab>

            <Tab Title="Info">
                <Content>

                </Content>
            </Tab>

        </Tabs>
    </div> 

</div>

@code {

    private Funeral currentFuneral = new();

    private User currentUser = new();

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            currentUser = await _storage.GetAsync<User>("currentUser") ?? new();

            // Check if the user is signed in. If not, navigate them to the Sign In page
            if (currentUser is null)
            {
                _nav.NavigateTo("/");
            }
            else
            {
                // Get the selected Funeral from browser storage
                currentFuneral = await _storage.GetAsync<Funeral>("currentFuneral") ?? new();
            }
        }
        StateHasChanged();
    }
}
