@using NextSteps.Client.Components

@inherits LayoutComponentBase

<div class="page">
    <main>  
        <div class="outside">

            <div class="top-bar">
               
                <text class="title">NextSteps</text>
            
                <div style="margin-top: 20px;">
                    <SignOutButton />
                </div>

            </div>

            <div class="inside">
                <article class="content px-4">
                    @Body
                </article>
            </div>

        </div>
       
    </main>
</div>

